{% extends 'base.html' %}
{% load static %}

{% block title  %}
    Contact page
{% endblock title %}

{% block content %}

    <img style="width:100%;height: 100px;" src="{% static 'images/background.jpg' %}" alt="">
    <h3 class="text-center mt-3 mb-4">Contact Us</h3>
    <form action="" method="post" class="from-group mr-auto ml-auto col-md-6">
    {% csrf_token %}
    <div class="form-group">

    <input type="text" class="form-control" name="name" id="name" placeholder="Name Please">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" name="email" id="email" autocomplete="False" placeholder="Place Email">
  </div>
    <div class="form-group">
    <textarea class="form-control" name="comment" id="comment" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-outline-primary btn-block mb-5">Submit</button>
</form>


{% endblock content %}
